body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.div1{
    display: flex;
    justify-content:center;
    align-items: center; 
    gap:40px;
}

.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px
}